<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_2.css' %}">
</head>
<body>
    <div class="container">
        <h1>Lista de Produtos</h1>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Unidade de Medida</th>
                    <th>Quantidade</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                <tr>
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.unidade_medida }}</td>
                    <td>{{ produto.quantidade }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'geralpistache:add_produto' %}">Adicionar Produto</a>
        <a href="{% url 'geralpistache:index' %}">Inicio</a>
    </div>
</body>
</html>