body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url("/static/imgs/paticeri.jpg");
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 15px 25px;
    background-color: #5cb85c;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}
.container a {
    display: inline-block;
    padding: 10px 30px;

}

h1, h2 {
    text-align: center;
    color: #333;
}

.form-section {
    margin-top: 30px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 5px;
}
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="datetime-local"],
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #4cae4c;
}

button[type="button"] {
    display: block;
    width: auto;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #0056b3;
}

#ingredients-container {
    margin-top: 20px;
}

.ingredient-entry {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.ingredient-entry label {
    margin-right: 10px;
    min-width: 100px;
}

.ingredient-entry input {
    width: calc(50% - 20px);
    margin-right: 10px;
}